/* KEYFRAMES */

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  

  .spinner-box {
    /* border: 1px solid black; */
    width: 300px;
    height: 300px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  
  
  .three-quarter-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid var(--text-color);
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
  }