/* nav {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    
}

nav h1 {
    font-size: 1.5em;
}


nav button {
    font-weight: 600;
    background: lightgrey;
    color: black;
    border: 1px solid transparent;
    padding: 8px 12px;
    border-radius: 0.2em
} */