.about-app, .login-section {
    /* border: 1px solid green; */
    flex: 1
}

.login-section {
    background: var(--background-color);
    flex: 2
}

.about-app  {
    flex: 1.2;
    background: #212b38;
    /* background-image: url("bgduck.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-blend-mode: hue; */
    /* background-position: bottom; */
    position: relative;
    padding: .3em .8em;
    display: flex;
    flex-direction: column;
    gap:1em
    /* text-align: center; */
    /* background-size:100% auto; */
}

.about-app::after{
    content: "";
    background: url("bgduck.jpg");
    opacity: 0.05;
    top: 0;
    left: -23%;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
}

.about-app h1 {
    font-size: 2.2em;
    color: var(--btn-color-primary);
    border-bottom: 1px solid white
}

.about-app p {
    font-weight: 200;
    font-size: .85em;
    color: white;
    /* padding: .3em .8em */
}


.about-app li {
    padding: 0.05em;
    list-style: none;
}

.about-app li p{
    color: var(--btn-color-primary);
}

.about-app a{
    color:white;
}

.login-header {
    /* background: red; */
    text-align: right;
    padding: 2em;
    font-size: .8em
}

.login-header .login-toggle {
    text-decoration: underline;
    border: none;
    background: none;
    color: blue;
    /* padding: 3em; */
    font-size: 1em
}