.login-box {
    margin: 0 auto;
    /* border: 1px solid red; */
    padding:10px;
    width: 80%;
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box h1 {
    font-size: 3em;
}

.login-box p {
    font-weight: 500;
}

.login-heading {
    flex: 5;
    text-align: center;
    /* border: 1px solid black; */
    padding: 0.5em;
    margin-bottom: 1em
}

.login-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 1px solid blue; */
    /* background:yellow; */
    padding: 0.5em;
}

.login-details input {
    padding: 0.4em;
    margin-top: 0.1em;
    width: 100%
}

/* .login-details input:focus {
    outline: none;
    border: 1px solid darkblue;
} */

.login-details input[type="submit"] {
    /* background: yellow; */
    font-weight: 600;
    border: 0;
    transition: 0.2s ease-in
}

.login-details input[type="submit"]:hover {
    /* color: yellow; */
    background: yellow
}

.login-details label span {
    font-size: 0.87em
}
