.login-box, .signup-box {
    margin: 0 auto;
    /* border: 1px solid red; */
    padding:10px;
    padding-bottom: 2em;
    width: 70%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 0.3s;
    animation-name: slidein;
    /* overflow:hidden */
}

.login-box h1, .signup-box h1 {
    /* font-size: 2em; */
}

.login-box p, .signup-box p {
    font-weight: 500;
}

.login-heading, .signup-heading {
    /* text-align: center; */
    /* border: 1px solid black; */
    padding: 0.5em;
    margin-bottom: 1em;
    width: 70%;
}

.login-details, .signup-details {
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
}

.login-details input, .signup-details input {
    padding: 0.7em;
    margin-top: 0.1em;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: .3s ease-in-out;
    font-size: .8em;
    
}

.login-details input:focus, .signup-details input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--text-color);
}


.login-details input[type="submit"],
.signup-details input[type="submit"] {
    background: var(--btn-color-primary);
    font-weight: 600;
    border: 0;
    width: 50%;
    color: var(--text-color)
}


.login-details label span, .signup-details label span {
    font-size: 0.87rem;
    color: var(--text-color)
}

@media (min-width: 320px) and (max-width: 768px) {
    .login-box, .signup-box {
        width: 100%
    }

    .login-heading, .signup-heading,
    .login-details, .signup-details,
    .login-details input, .signup-details input,
    .login-details input[type="submit"],
    .signup-details input[type="submit"] {
        width: 100%
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .login-box, .signup-box {
        width: 80%
    }

    .login-details input, .signup-details input {
        width: 90%
    }

    .login-details input[type="submit"],
    .signup-details input[type="submit"] {
        width: 50%
    }
}