.videoplay {
  text-decoration: none;
  color: var(--text-color);
}

.video {
    width: 13.5em;
    border: 1px solid #d4cece;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid var(--text-color);
    position: relative;
    height: 100%;
    animation-duration: 0.3s;
    animation-name: slidein;
  }
  
  .video:hover {
    cursor: pointer;
    border: 1px solid var(--text-color);
  }
  
  
  .video img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .content {
    margin: 0px 10px;
  }
  
  .details {
    /* border: 1px solid red; */
    padding: 0 .3em .3em
  }

  /* .video-name{
    margin: 0
    } */

  .details .description {
    /* border: 1px solid blue; */
    /* color: red; */
    margin: 10px 0;
    height: 60px
  }
  
  .details .description p {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-weight: 300;
    font-size:.8em
  }
  
  